/* select_players.css */

.container {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    text-align: center;
    max-width: 600px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#roomCodeDisplay {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f39c12;
    margin: 20px 0;
}

select {
    font-size: 1.2rem;
    padding: 12px;
    width: 50%;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    font-size: 1.2rem;
    padding: 12px 20px;
}
